body{
    height: 100%;
    background-image: url(light-veneer.png);
    padding: 0px;
    margin: 0px;

}
header {
    background-color: #ffffff;
    width: 100%;
    height: 85px;
    border-bottom: #cccccc solid 2px;
    float: left;
}
h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 125px;
    height: 85px;
    position: relative;
    bottom: 21px;   
    text-align: center;
    line-height: 82px;
    margin-left: 244px;
}
nav{
    position: relative;
    bottom: 80px;
    margin-left: 1030px;
    text-decoration: none"
}
.content{
    width: 960px;
    height: 490px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    margin-left: 245px;
    position: relative;
    top: 150px;
    padding: 5px;
}

p{
   font-family: Arial, Helvetica, sans-serif;
     color: #777777;
     padding: 15px;
    float: left;
}
img{
    padding: 25px 15px 15px 25px;
    position: relative;
    bottom: 60px;
    float: left;
}
h2{
    padding: 15px;
    color: #4aaaa5;
    position: relative;
    bottom: 58px;
}

.clearfix:after{
    display: block;
    clear: both;
    content: '';
}
hr{
    position: relative;
    bottom: 60px;
}
#footer{
    width: 100%;
    height: 85px;
    background-color: #666666;
    bottom: 0;
    position: absolute;
    border-top: #4aaaa5 solid 3px;
}
#footerw{
    text-align: center;
    color: #ffffff;
}
#input1{
    padding: 15px;
    width: 925px;
}
#input2{
    padding: 15px;
    width: 925px;
}
#input3{
    padding: 40px;
  
}
.images{
    width: 600px;
    height: 490px;
}
#div1{
    width: 150px;
    height: 35px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    position: relative;
    top: 65px;
    left: 25px;
}